@model Blog

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <label for="formFile" class="form-label">Choose an image for blog</label>
        <input class="form-control" id="customFile" asp-for="Photo"/> 
        <span class="text-danger" asp-validation-for="Photo">@ViewBag.error</span>


        <label for="start" class=" mt-3">Header</label>
        <input type="text" class="form-control " id="customFile" asp-for="Header"/>
        <span class="text-danger" asp-validation-for="Header">@ViewBag.error</span>

        <label for="start" class=" mt-3">Description</label>
        <input type="text" class="form-control " id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>

        <label for="start" class=" mt-3">Start date:</label>
        <input type="datetime-local"   asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date">@ViewBag.error</span>


        <div class="buttons my-3">
           <button type="submit" class="btn btn-primary mr-2">Submit</button>
           <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
       
    </form>
</div>

