@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <h1>Blog detail</h1>



    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>

                </tr>
            </thead>
            <tbody>
              
                    <tr>
                        <td class="py-1">
                            <img src="~/img/@Model.Image" style="width: 70px; height: 70px" alt="image" />
                        </td>
                       <td>
                            <span>@Model.Description</span>
                        </td>
                        <td>
                            <input type="date" id="start" name="trip-start"
                               value="@Model.Date"/>
                        </td>

                    </tr>

            </tbody>
        </table>
        <a class="btn btn-info mt-5" asp-action="Index">Back</a>

    </div>
</div>

